---
---

@import "{{ site.theme }}";

body {
  background-color: #F6F6EF;
  font-family: 'Times New Roman', Times, serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header, footer {
  text-align: center;
}

h1 a {
  color: #333;
  text-decoration: none;
}
