---
---

@import "{{ site.theme }}";

body {
  background-color: #F6F6EF;
  font-family: 'Charter', serif;
  color: black; /* Set all other text to black */
}

a {
  color: #007253; /* Set link text to the specified color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
